@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Fonts */
  --rubik-text: 350 16px 'Rubik', sans-serif;

  /* Calculator styles */
  --calculator-border: rgb(160, 160, 160);
  --calculator-background: rgb(240, 240, 240);
  --calculator-enabled-border: rgb(176, 176, 176);
  --calculator-disabled-border: rgb(216, 216, 216);
  --calculator-error-color: rgb(255, 0, 0);
  --calculator-divider-color: rgb(160, 160, 160);
  --calculator-button-border: rgb(176, 176, 176);
  --calculator-button-font-size: 16px;
  --calculator-button-background: rgb(255, 255, 255);
  --calculator-button-hover-background: rgb(216, 216, 216);

  /* Calculator input styles */
  --calculator-input-background: rgb(255, 255, 255);

  /* Calculator output styles */
  --calculator-output-background: rgb(216, 216, 216);
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

/* Global styles */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid black;
}

.content h1 {
  display: flex;
  align-self: center;
  text-align: center;
  font: var(--rubik-text);
  font-size: 36px;
  font-weight: 400;
}

.calculator-content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.calculator-description h2 {
  font: var(--rubik-text);
  font-size: 28px;
  font-weight: 400;
}

.calculator-description p {
  font: var(--rubik-text);
  font-size: 18px;
}

/* Calculator styles */

.calculator {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--calculator-background);
  border: 1px solid var(--calculator-border);
  border-radius: 4px;
  position: sticky;
}

.calculator ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.calculator li {
  color: var(--calculator-error-color);
  font: var(--rubik-text);
  font-size: 20px;
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.calculator-select {
  width: 70px;
  font: var(--rubik-text);
  font-size: 16px;
  margin-left: 0.5rem;
  padding: 0.3rem;
  border: 1px solid var(--calculator-enabled-border);
  border-radius: 4px;
  background-color: var(--calculator-button-background);
  transition-duration: 0.25s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px;
}

.calculator-select:hover {
  background-color: var(--calculator-button-hover-background);
}

.calculator-select option {
  background-color: var(--calculator-button-background);
}

.calculator hr {
  width: 100%;
  color: var(--calculator-divider-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.calculator-controls {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.calculator-button {
  font: var(--rubik-text);
  font-size: var(--calculator-button-font-size);
  height: 50px;
  border: 1px solid var(--calculator-button-border);
  border-radius: 4px;
  background-color: var(--calculator-button-background);
  transition-duration: 0.25s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 2px;
}

.calculator-button:hover {
  background-color: var(--calculator-button-hover-background);
}

/* Calculator input styles */

.calculator-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.calculator-input {
  width: 0;
  flex-grow: 1;
  font: var(--rubik-text);
  font-size: 20px;
  padding: 0.5rem;
  border: 1px solid var(--calculator-enabled-border);
  border-radius: 4px;
  background-color: var(--calculator-input-background);
}

.calculator-input-label {
  font: var(--rubik-text);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.calculator-input-controls {
  display: flex;
}

/* Calculator output styles */

.calculator-output-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.calculator-output {
  font: var(--rubik-text);
  font-size: 20px;
  padding: 0.5rem;
  border: 1px solid var(--calculator-disabled-border);
  border-radius: 4px;
  background-color: var(--calculator-output-background);
  flex-grow: 1;
}

.calculator-output-label {
  font: var(--rubik-text);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.calculator-output-controls {
  display: flex;
}

/* Miscellaneous styles */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Advertisement panel styles */

.ad-panel-left {
  position: sticky;
  top: 0;
  height: 80vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 200px;
  gap: 2rem;
}

.ad-panel-right {
  position: sticky;
  top: 0;
  height: 80vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 200px;
  gap: 2rem;
}

/* Media width dependent styles */

/* Extra Small (Phones) */
@media (max-width: 479px) {
  .content {
    width: 70%;
  }

  .ad-panel-left {
    display: none;
  }

  .ad-panel-right {
    display: none;
  }

  .calculator-content {
    flex-direction: column;
    align-items: center;
  }

  .calculator {
    width: 220px;
  }
}

/* Small (Larger Phones) */
@media (min-width: 480px) and (max-width: 767px) {
  .content {
    width: 70%;
  }

  .ad-panel-left {
    display: none;
  }

  .ad-panel-right {
    display: none;
  }

  .calculator-content {
    flex-direction: column;
    align-items: center;
  }
}

/* Medium (Tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .content {
    width: 568px;
  }

  .ad-panel-left {
    display: none;
  }

  .calculator-content {
    flex-direction: column;
    align-items: center;
  }
}

/* Large (Laptops & Desktops) */
@media (min-width: 1024px) and (max-width: 1279px) {
  .content {
    width: 724px;
  }

  .ad-panel-left {
    display: none;
  }
}

/* Extra Large (Large Desktops) */
@media (min-width: 1280px) {
  .content {
    width: 880px;
  }
}
